@charset "utf-8";
h1 {
	text-align: center;	
	font-family: 'Rubik Bubbles', cursive;
	font-size: 38px;
	margin-top: 50px;
	font-weight: bold;
}
#list {
width: 100%; 
position: center;
align-content: center;
}
#list li {
	display: flex;
	position: center;
	align-content: center;
	width: 100%;
}
	#list li .li-wrapper {
		background: white;
		position: center;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		margin-left: 60px;	
		margin-bottom: 20px;
		box-shadow: 0px 0px 3px #dddddd;
	}
		#list li .li-wrapper:hover {
			box-shadow: 0px 0px 3px #aaaaaa;
		}
	#list li a.thumbnail {
		display: block;
		position: relative;
		margin: 0px 0px 10px 10px;
		cursor: pointer;
	}
		#list li a.thumbnail .overlay {
			width: 100%;
			height: 100%;
			position: relative;
			top: 0px;
			left: 0px;
			background: rgba(0,0,0,0.7);
			color: white;
			text-align: center;
		}
		#list li a.thumbnail img { width: 100%; }
			#list li a.thumbnail img.static { width: 100%; position: absolute; top: 0px; }
		
	#list li .info { margin: 0px 0px 0px 10px; }
		#list li .info h3 {
			font-size: 20px;
			font-weight: bold;
			color: #2c043260;
			margin-bottom: 8px;
		}
			#list li .info h3:hover { color: #5f1bf225; }
		#list li .info .indv-viz-filters { margin-left: -8px; height: 23px; float: none; overflow: hidden; }
	
@media (min-width: 320px) {

}

@media (min-width: 480px) {
h1 { font-size: 50px; }
.line { margin: 0px 50px; }
#filters { padding: 20px 60px 12px 42px; }
#list li { width: 50%; }
}

@media (min-width: 768px) { 
.line { margin: 0px 60px; }
#filters { padding: 20px 60px 12px 52px; }
#list li {	width: 33.333%; }
}

@media (min-width: 1024px) { 
#list li {	width: 25%; }
}